# Increase main task stack size for YAFFS operations
CONFIG_ESP_MAIN_TASK_STACK_SIZE=16384
CONFIG_W25N_SPI_MOSI_GPIO=11
CONFIG_W25N_SPI_MISO_GPIO=13
CONFIG_W25N_SPI_SCLK_GPIO=12
CONFIG_W25N_SPI_CS0_GPIO=10
CONFIG_W25N_SPI_CS1_GPIO=15
CONFIG_W25N_SPI_WP_GPIO=14
CONFIG_W25N_SPI_HOLD_GPIO=9
